html
{
  scroll-behavior: smooth;
}
a {
  color: #81667a;
  text-decoration: none;
  cursor: pointer;
}
.icon {
  position: absolute;
  top: -22px;
  left: -29px;
  width: 122px;
  height: 122px;
  object-fit: cover;
}
.string-reverie {
  position: absolute;
  top: 25px;
  left: 90px;
  font-size: 48px;
  display: inline-block;
  width: 399px;
  height: 40px;
  font-family: Farro;
}
.div {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 60px);
  width: 135px;
  height: 30px;
  transition-duration: 0.5s;
  border-radius: 40%;
}

.div:hover {
  color: rgb(235, 192, 0);
  transition: 0.35s;
}
.div1:hover {
  color: rgb(235, 192, 0);
  transition: 0.35s;
}
.div2:hover {
  color: rgb(235, 192, 0);
  transition: 0.35s;
}
.div3:hover {
  color: rgb(235, 192, 0);
  transition: 0.35s;
}
.btn1,
.btn1-child {
  background-color: var(--color-palegoldenrod);
}
.btn1-child {
  position: absolute;
  top: 3px;
  left: 89px;
  border-radius: 50%;
  width: 6px;
  height: 7px;
}
.btn1 {
  top: 35px;
  left: 547px;
  border-radius: var(--br-3xs);
  width: 150px;
  height: 38px;
  overflow: hidden;
}
.btn1,
.btn2,
.div1 {
  position: absolute;
}
.div1 {
  top: calc(50% - 12px);
  left: calc(50% - 47px);
}
.btn2 {
  top: 35px;
  left: 727px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palegoldenrod);
  width: 100px;
  height: 38px;
  overflow: hidden;
}
.div2 {
  top: calc(50% - 12px);
  left: calc(50% - 32px);
}
.btn3,
.div2,
.div3 {
  position: absolute;
}
.btn3 {
  top: 35px;
  left: 857px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palegoldenrod);
  width: 100px;
  height: 38px;
  overflow: hidden;
}
.div3 {
  top: calc(50% - 12px);
  left: calc(50% - 82px);
}
.btn4,
.header {
  position: absolute;
  top: 35px;
  left: 987px;
  border-radius: var(--br-3xs);
  background-color: var(--color-palegoldenrod);
  width: 180px;
  height: 38px;
  overflow: hidden;
}
.header {
  top: 0;
  left: 40px;
  box-shadow: 0 5px 4px #81667a;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  width: 1200px;
  height: 100px;
  text-align: left;
  font-size: var(--font-size-5xl);
  font-family: var(--font-farro);
}
.photo1-icon,
.photo2-icon,
.photo3-icon,
.photo4-icon {
  position: absolute;
  top: 166px;
  height: 318px;
  object-fit: cover;
}
.photo1-icon {
  left: 125px;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  width: 507px;
}
.photo2-icon,
.photo3-icon,
.photo4-icon {
  left: 648px;
  width: 288px;
}
.photo3-icon,
.photo4-icon {
  left: 952px;
  border-radius: 0 var(--br-3xs) 0 0;
  width: 203px;
  height: 132px;
}
.photo4-icon {
  top: 314px;
  border-radius: 0 0 var(--br-3xs) 0;
  height: 170px;
}
.size1280-child,
.size1280-item {
  position: absolute;
  top: 550px;
  left: 125px;
  width: 1014px;
  height: 1px;
}
.size1280-item {
  top: 981px;
}
.line-1-stroke,
.line-2-stroke {
  position: absolute;
  top: 581px;
  left: 442px;
  width: 3px;
  height: 370px;
  object-fit: contain;
}
.line-2-stroke {
  left: 832px;
}
.div4 {
  position: absolute;
  top: 747px;
  left: 151px;
  color: var(--color-black);
  text-align: justify;
  display: inline-block;
  width: 270px;
  height: 165px;
}
.span {
  font-family: var(--font-farro);
  white-space: pre-wrap;
}
.string-reverie2 {
  font-family: var(--font-open-sans);
}
.span1 {
  white-space: pre-wrap;
}
.blank-line {
  margin-block-start: 0;
  margin-block-end: 10px;
  font-family: var(--font-farro);
}
.p {
  margin: 0;
  white-space: pre-wrap;
}
.div5,
.div6,
.string-reverie-container {
  position: absolute;
  top: 1701px;
  left: 144px;
  color: var(--color-black);
  text-align: justify;
  display: inline-block;
  width: 423px;
  height: 231px;
}
.div5,
.div6 {
  top: 747px;
  left: 471px;
  width: 337px;
  height: 165px;
}
.div6 {
  left: 855px;
  width: 279px;
  height: 204px;
}
.b,
.b1,
.b2 {
  position: absolute;
  top: 685px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-farro);
}
.b {
  left: 141px;
  display: inline-block;
  width: 288px;
}
.b1,
.b2 {
  left: 531px;
}
.b2 {
  left: 900px;
}
.clock-1-icon,
.coins-1-icon,
.walk-2-icon {
  position: absolute;
  top: 568px;
  left: 231px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.clock-1-icon,
.coins-1-icon {
  left: 598px;
}
.clock-1-icon {
  left: 940px;
}
.div7,
.div8 {
  position: absolute;
  top: 1051px;
  left: 125px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-farro);
  text-align: justify;
}
.div8 {
  top: 1552px;
}
.line-3-stroke,
.line-3-stroke1 {
  position: absolute;
  top: 1104px;
  left: 125px;
  width: 710px;
  height: 7px;
  object-fit: contain;
}
.line-3-stroke1 {
  top: 1605px;
}
.div9 {
  position: absolute;
  top: 2095px;
  left: 547px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-farro);
  text-align: right;
  display: inline-block;
  width: 592px;
}
.image-1-icon,
.line-4-stroke {
  position: absolute;
  top: 2148px;
  left: 586px;
  width: 569px;
  height: 6px;
  object-fit: contain;
}
.image-1-icon {
  top: 1641px;
  left: 618px;
  width: 520px;
  height: 343px;
  object-fit: cover;
}
.repair1-icon,
.repair2-icon,
.repair3-icon,
.repair4-icon {
  position: absolute;
  top: 1157px;
  left: 141px;
  width: 203px;
  height: 150px;
  object-fit: cover;
}
.repair2-icon,
.repair3-icon,
.repair4-icon {
  left: 395px;
}
.repair3-icon,
.repair4-icon {
  left: 670px;
}
.repair4-icon {
  left: 936px;
}
.div10,
.div11,
.div12,
.div13 {
  position: absolute;
  top: 1335px;
  left: 137px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 203px;
}
.div11,
.div12,
.div13 {
  left: 395px;
}
.div12,
.div13 {
  left: 665px;
}
.div13 {
  left: 936px;
}
.li {
  margin-bottom: 10px;
}
.ul {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.div14,
.div15,
.div16,
.div17 {
  position: absolute;
  top: 1411px;
  left: 141px;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 203px;
}
.div15,
.div16,
.div17 {
  left: 392px;
}
.div16,
.div17 {
  left: 670px;
}
.div17 {
  top: 1407px;
  left: 936px;
}
.master-icon {
  position: absolute;
  top: 2111px;
  left: 133px;
  border-radius: var(--br-3xs);
  width: 414px;
  height: 554px;
  object-fit: cover;
}
.inputwin {
  position: absolute;
  top: 2196px;
  left: 652px;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--color-white);
  border: 4px solid #92b4a7;
  box-sizing: border-box;
  width: 503px;
  height: 469px;
}
.div18 {
  position: absolute;
  top: 2376px;
  left: 676px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-farro);
  text-align: right;
}
.entertext {
  position: absolute;
  top: 2285px;
  left: 666px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 3px solid var(--color-darkseagreen);
  box-sizing: border-box;
  width: 350px;
  height: 55px;
  overflow: hidden;
}
.div19 {
  position: absolute;
  top: 2236px;
  left: 676px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-farro);
  text-align: right;
}
.entertext1 {
  top: 2425px;
  left: 666px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 3px solid var(--color-darkseagreen);
  box-sizing: border-box;
  width: 350px;
  height: 55px;
  overflow: hidden;
}
.div20,
.div21,
.entertext1 {
  position: absolute;
}
.div20 {
  top: 2615px;
  left: 699px;
  color: var(--color-black);
  text-align: right;
}
.div21 {
  top: 76px;
  left: 969px;
  display: inline-block;
  width: 240px;
}
.p1 {
  margin: 0;
}
.div22 {
  position: absolute;
  top: 34px;
  left: 933px;
  text-align: right;
  display: inline-block;
  width: 242px;
}
.ic2-icon {
  position: absolute;
  top: 36px;
  left: 36px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.ic1-icon {
  position: absolute;
  left: 99px;
}
.ic1-icon,
.ic3-icon,
.ic4-icon {
  top: 36px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.ic3-icon {
  position: absolute;
  left: 162px;
}
.ic4-icon {
  left: 225px;
}
.div23,
.footer,
.ic4-icon {
  position: absolute;
}
.footer {
  top: 2799px;
  left: 52px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: 5px;
  background-color: var(--color-palegoldenrod);
  width: 1200px;
  height: 100px;
  text-align: left;
  font-family: var(--font-farro);
}
.div23 {
  top: 7px;
  left: calc(50% - 107px);
}
.component-1 {
  position: absolute;
  top: 2513px;
  left: 666px;
  border-radius: 30px;
  background-color: var(--color-palegoldenrod);
  width: 270px;
  height: 70px;
  text-align: right;
  font-size: 40px;
  font-family: var(--font-farro);
}
.size1280 {
  width: 1280px;
  position: relative;
  background-color: var(--color-white);
  height: 2899px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
  font-family: var(--font-farro);
  margin: 0 auto;
}
